<div class="container" id="toolbar">
    <ul class="toolbar-panel">
        <li>
            <div class="round-button" ng-click="homePage.setLocation()"></div>
        </li>
        <li><input type="text" placeholder="Where are you at " ng-model="homePage.sourceLocation" class="searchBox" ng-autocomplete
                ng-model="autocomplete" options="options" details="details" /></li>

        <li><input type="text" placeholder="Where are you going" ng-model="homePage.destinationLocation" class="searchBox" ng-autocomplete
                ng-model="autocomplete" options="options" details="details" /></li>

        <li><button type="button" class="btn btn-danger gradient-button" ng-click="homePage.searchNearByPlaces(homePage.sourceLocation, homePage.destinationLocation)">Search</button></li>
        

        
        <div class="filters" ng-repeat="placeIcon in autocomplete.placeIcons">
            <div class="{{placeIcon.name}}" style=" width: 40px;
    height: 40px;
    top: 14px;
    background-size: contain;
    position: relative;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.4); display: inline-block; background-image: url('../images/{{placeIcon.name}}.png'); box-shadow: {{placeIcon.boxShadow}};"
                ng-click="autocomplete.addFilter(placeIcon.name, homePage)"></div>
        </div>

        
    </ul>
</div>