<div class="overlay-loader" ng-style="homePage.loadingStyle">
	<div class="loader">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<div class = "row autocomplete">
   <div ui-view="autocompleteView"></div>
</div>

 <div class="row">

    <!-- COLUMN ONE NAMED VIEW -->
    <div class="col-sm-3">
        <div ui-view="listView"></div>
    </div>
    
     <!-- COLUMN ONE NAMED VIEW -->
    <div class="col-sm-9 mapWrapper">
        <div ui-view="mapView"></div>
    </div>
  

</div>   
