<div class="contact-list panel panel-default">

    <div class="panel-heading">
        
        <input class="form-control" ng-model="search.name" placeholder="Search place.." />
    </div>

    <div class="panel-body">

        <div class="ui-list-view-bordered" ui-list-view="place in homePage.filteredPlaces | filter:search">
            <div id="{{place.place_id}}" ng-click="homePage.clickListItem(place, place.selected); place.selected" ng-class="{selected: place.selected}">
                <div class="place">{{place.name}}<span class="distance">{{place.distance}}mi</span></div>
                <div ng-if="place.rating" class="stars">
                    <img src="../images/{{Math.floor(place.rating)}}{{Math.round(place.rating)}}stars.png"></img>
                </div>
                <div class="address" id="{{place.place_id}}">{{place.address}}</div>
                <div style="display: inline-block;" ng-if="place.selected && place.review"><img class="comment"  src="../images/comment.png"></img><span class="review">{{place.review}}</span></div>

            </div>
        </div>
    </div>

</div>