<ui-gmap-google-map id="mymap" center="homePage.location.coords" zoom="homePage.mapZoom" options="options">
            <ui-gmap-circle center="homePage.currentLocation.coords" stroke="homePage.gmapCircle.stroke" fill="homePage.gmapCircle.fill" radius="homePage.sliderModel*1609"
                visible="homePage.gmapCircle.visible" control="homePage.gmapCircle.control"></ui-gmap-circle>

    <ui-gmap-marker coords="homePage.currentLocation.coords" options="mapConfig.currentLocationMarker.options" idkey="0">
    </ui-gmap-marker>

 <ui-gmap-window closeClick="closeClick()" show="homePage.infoWindow.show" coords="homePage.infoWindow.coords">
            <div class="infoWindow">
                <div id="title">{{homePage.infoWindow.name}}</div>
                <div id="info">{{homePage.infoWindow.address}}</div>
            </div>
</ui-gmap-window>
    <ui-gmap-marker ng-repeat="m in homePage.markers" coords="m.coords" idkey="m.id" options="mapConfig.markers[m.filter]" events="homePage.markerEvents">
       
    </ui-gmap-marker>

</ui-gmap-google-map> 